<style>table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

</style>
<div class="container">
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
<h2>List of Organizations</h2>

<% if user_signed_in? || organization_signed_in?%>
<% @orgs.each do |org| %>
<h3><%= org.email %></h3>
<% end %>
<% else %>

</div>
</div>
</div>
<% end %>
