<script>
   $(document).ready(function(){
      $("div#filter").hide();
      $("button#filter-button").click(function(){
          $("div#filter").toggle();
      });
   });
   $("form#filter-boxes").submit(function() {
      console.log('blah');
      var aVariable = $('input.test[type="checkbox"]:checked', this).val();
    });
</script>
<div class="row filter-box">
    <button type="button" id="filter-button" class="btn btn-default filter-button" aria-label="Left Align">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
    <div id="filter" class="filter">
        
        <form id="filter-boxes" class="filter-boxes" action="search_users" method="get">

            <div class="row">
                <div class="col-md-12 filter-options">
                    <% if organization_signed_in? && !user_signed_in? %>
                        <% @skills.each_with_index do |skill, index| %>
                            <% if index == 1 %>
                                <div class="checkbox col-md-6 top-padding">
                                   <label> <%= check_box_tag 'skill_ids[]', skill.id %><%= skill.name %></label>
                                </div>
                            <% else %>
                                <div class="checkbox col-md-6">
                                   <label><%= check_box_tag 'skill_ids[]', skill.id %><%= skill.name %></label>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="right-align">
                    <input type="submit" value="Filter" class="btn btn-default apply-filter" aria-label="Right Align"></input>
                </div>
            </div>
        </form>
    </div>
</div>
