<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boardbank</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

    <style type='text/css'>
      body {
      background-color: #CCC;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <% if user_signed_in? &&  !organization_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% elsif organization_signed_in? %>
      <%= link_to 'Edit profile', edit_organization_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_organization_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

      <% end %>
      <div class='navbar navbar-inverse'>
        <div class='navbar-inner nav-collapse' style="height: auto;">
        <a href="#"class="navbar-brand">Boardbank</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Greater Poweshiek Community Foundation</a></li>
          </ul>
        </div>
      </div>
      <div id='content' class='row-fluid'>
        <div class='span9 main'>
          <div class="jumbotron">

            <% if user_signed_in? && organization_signed_in? %>
            <h1>Welcome back!</h1>
            <br/>
            <p class="lead">
              You have signed in! 
              <br/>
            </p>
            <%= link_to "Edit Profile", edit_user_registration_path, :method => :delete, :class => 'btn btn-large btn-success' %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
            <% elsif organization_signed_in? %>
            <h1>Welcome back!</h1>
            <br/>
            <p class="lead">
              You have signed in! 
              <br/>
            </p>
            <%= link_to "Edit Profile", edit_organization_registration_path, :method => :delete, :class => 'btn btn-large btn-success' %>
            <%= link_to "Sign Out", destroy_organization_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
            <% else %>
            <h1>Welcome!</h1>
	    <br/>
            <p class="lead">
              You must sign in or sign up before you can access the Boardbank.
	      <br/>
	      <br/>
	      Sign up as
	      <span class="row-fluid">
      	        <span class="span6">
                  <%= link_to "User", new_user_registration_path, :class => "btn btn-large btn-success" %>

                  or
                  <%= link_to "Organization", new_organization_registration_path, :class => "btn btn-large btn-success" %>

                </span>
              </span>
<br/>
<hr/>
<br/>
<%= link_to "Sign In", new_user_session_path, :class => "btn btn-large btn-default" %>
            </p>
            
            <% end %>
          </div>
        </div>
        <div class='span3 sidebar'>
          <h2>Links</h2>

          <ul class="nav nav-tabs nav-stacked">
            <li><a href='#'>Another Link 1</a></li>
            <li><a href='#'>Another Link 2</a></li>
            <li><a href='#'>Another Link 3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

