// Contains style for general page body elements.

.container {
  padding-top: 50px;
  padding-bottom: 25px;
}

body {
    background: #FFF;
}

.form-control{
    width: 100%;
}
.btn-success {
    background-color: #387b2b !important;
}

input.btn.btn-success {
    border-radius: 25px;
    background: #387b2b;
    border-color: #black;
    margin: 5px;
}

#q {
    padding: 10px;
    width: 100%;
}

.input-group {
    float: right;
}

.list-group-item {
    position: relative;
}

form.navbar-form {
    left: 60%;
    position: relative;
    width: 10%;
}

div.col-sm-3.col-md-3 {
    float: right;
}

group>.form-control, .navbar-form .input-group>.form-control {
    width: 50%;
    left: -10%;
}

.groupedsearch {
    display: inline-block;
    list-style-type: none;
}

.list-group-item:last-child {
    margin-top: 5%;
}

.jumbotron > a {
    text-decoration: none;
    /*color: #FFF;*/
}

.jumbotron {
  bottom: 0;
  top: 10%;
  overflow-y: scroll;
  position: absolute;
  width: 78.3%;
  background-color: #FFF;
}