/* HEADER */

.page-header {
    width: 100%;
}

.navbar-inverse {
   background: #387b2b;
   border-color: #387b2b;
   border-radius: 0px !important;
   position: fixed;
   width: 100%;
   float: left;
   z-index: 1; 
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    text-decoration: none;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
    text-decoration: none;
}

/* PAGE BODY */

.container {
    padding-top: 50px;
}

body {
    background: #FFF;
}

input.btn.btn-success {
    border-radius: 25px;
    background: #387b2b;
    border-color: #black;
    margin: 5px;
}

#q {
    padding: 10px;
    width: 200%;
}

.input-group {
    float: right;
}

.list-group-item {
    position: relative;
}

form.navbar-form {
    left: 60%;
    position: relative;
    width: 10%;
}

div.col-sm-3.col-md-3 {
    float: right;
}

group>.form-control, .navbar-form .input-group>.form-control {
    width: 50%;
    left: -10%;
}

.groupedsearch {
    display: inline-block;
    list-style-type: none;
}

.list-group-item:last-child {
    margin-top: 5%;
}

.jumbotron > a {
    text-decoration: none;
    /*color: #FFF;*/
}

.jumbotron {
    bottom: 0;
	top: 10%;
	overflow-y: scroll;
	position: absolute;
	width: 78%;
}