<h1>Profile</h1>

<% if user_signed_in? %>
<h3><%= @current_user.firstname %></h3>
<h3><%= @current_user.lastname %></h3>
<h3><%= @current_user.email %></h3>
<% else %>
<h3> You dont have a profile :(<h3>

<% end %>
