<div class="pager-header">
  <!-- Static navbar -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-collapse collapse">
      <a class="navbar-brand" href="/">Boardbank</a>
      <ul class="nav navbar-nav">
        <!-- Put left align elements here! -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.greaterpcf.org/">Greater Poweshiek Community Foundation</a></li>
        <% if user_signed_in? %>
        <% @id = current_user.id %>
        <li><%= link_to 'Profile', controller: "profile", action: "show_user", id: @id %></li>
        <li><a href="/organizations">Organizations</a></li>
        <% else %>
        <% end %>
        <% if organization_signed_in? %>
        <% @id = current_organization.id %>
        <li><%= link_to 'Profile', controller: "organizations", action: "show", id: @id %></li>
        <li><a href="/organizations">Organizations</a></li>
        <li><a href="/users">Users</a></li>
        <% else %>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
</div>
